{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.6",
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    [
      "react-css-modules",
      { "context": "./src", "generateScopedName": "[local]-[hash:base64]" }
    ]
  ]
}
