.pagination {
    font-size: 24pt;
    margin-left: 100px;
    display: inline-block;
}

.page {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.active-page { 
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    color: purple;
    cursor: pointer;
    border-bottom: 2px solid purple;
}